---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=OPENWEATHER_API_KEY&exclude=alerts,current,minutely,hourly&lat=51.0925&lon=-115.39&units=imperial
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":51.0925,"lon":-115.39,"timezone":"America/Edmonton","timezone_offset":-25200,"daily":[{"dt":1672081200,"sunrise":1672069484,"sunset":1672097968,"moonrise":1672080420,"moonset":1672113420,"moon_phase":0.13,"temp":{"day":34.34,"min":21.7,"max":36.14,"night":28.2,"eve":29.82,"morn":25.43},"feels_like":{"day":26.83,"night":20.89,"eve":22.48,"morn":16.45},"pressure":1001,"humidity":94,"dew_point":28.65,"wind_speed":9.89,"wind_deg":241,"wind_gust":22.28,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"clouds":100,"pop":0.59,"snow":1.09,"uvi":0.54},{"dt":1672167600,"sunrise":1672155897,"sunset":1672184413,"moonrise":1672168020,"moonset":1672205040,"moon_phase":0.17,"temp":{"day":32.05,"min":19.83,"max":34.3,"night":24.4,"eve":28.47,"morn":22.23},"feels_like":{"day":28.17,"night":18.99,"eve":22.32,"morn":18.12},"pressure":985,"humidity":94,"dew_point":26.24,"wind_speed":6.33,"wind_deg":248,"wind_gust":6.87,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"clouds":100,"pop":0.52,"snow":0.91,"uvi":0.4[...]
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=OPENWEATHER_API_KEY&exclude=alerts,current,minutely,hourly&lat=49.31694&lon=-114.43028&units=imperial
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":49.3169,"lon":-114.4303,"timezone":"America/Edmonton","timezone_offset":-25200,"daily":[{"dt":1672081200,"sunrise":1672068751,"sunset":1672098240,"moonrise":1672079760,"moonset":1672113540,"moon_phase":0.13,"temp":{"day":34.81,"min":23.72,"max":36.68,"night":30.47,"eve":34.07,"morn":32.95},"feels_like":{"day":24.98,"night":22.53,"eve":24.26,"morn":23.99},"pressure":1005,"humidity":95,"dew_point":34.3,"wind_speed":18.5,"wind_deg":231,"wind_gust":48.72,"weather":[{"id":616,"main":"Snow","description":"rain
        and snow","icon":"13d"}],"clouds":94,"pop":0.69,"rain":1.09,"snow":1.19,"uvi":0.38},{"dt":1672167600,"sunrise":1672155165,"sunset":1672184684,"moonrise":1672167540,"moonset":1672204980,"moon_phase":0.17,"temp":{"day":31.03,"min":26.6,"max":31.84,"night":26.6,"eve":30.36,"morn":29.35},"feels_like":{"day":24.84,"night":15.55,"eve":21.58,"morn":25.56},"pressure":986,"humidity":99,"dew_point":31.53,"wind_speed":15.86,"wind_deg":229,"wind_gust":41.52,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"clouds":100,"pop":0.81,"snow":7.4[...]
[...]
