---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=OPENWEATHER_API_KEY&exclude=alerts,current,minutely,hourly&lat=51.0925&lon=-115.39&units=imperial
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":51.0925,"lon":-115.39,"timezone":"America/Edmonton","timezone_offset":-25200,"daily":[{"dt":1672945200,"sunrise":1672933461,"sunset":1672962546,"moonrise":1672957200,"moonset":1672932060,"moon_phase":0.46,"temp":{"day":22.46,"min":-1.28,"max":31.93,"night":25,"eve":26.01,"morn":2.21},"feels_like":{"day":15.44,"night":16.52,"eve":18.23,"morn":-7.47},"pressure":1012,"humidity":75,"dew_point":16.48,"wind_speed":7.72,"wind_deg":246,"wind_gust":8.46,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"clouds":100,"pop":0,"uvi":0.59},{"dt":1673031600,"sunrise":1673019841,"sunset":1673049019,"moonrise":1673046900,"moonset":1673021580,"moon_phase":0.5,"temp":{"day":29.57,"min":18.9,"max":30.74,"night":18.9,"eve":21.45,"morn":24.55},"feels_like":{"day":21.9,"night":9.36,"eve":12.16,"morn":15.64},"pressure":1014,"humidity":88,"dew_point":21.94,"wind_speed":8.41,"wind_deg":246,"wind_gust":10.31,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"clouds":68,"pop":0.11,"uvi":0.69},{"dt":[...]
[...]
