<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="description" content="<%= description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Opengraph -->
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:description" content="<%= description %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://followthesnow.today/" />
  <meta property="og:image" content="https://followthesnow.today/assets/logo.jpg" />
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@2.0.0-alpha1/css/pico.fluid.classless.min.css">
  <link rel="stylesheet" href="/assets/main.css" />
  <title>
    followthesnow.today &raquo; <%= title %>
  </title>
</head>
<body>
  <nav>
    <ul>
        <li><strong>follow the snow</strong></li>
    </ul>
    <ul>
      <li><a href="/about.html">About</a></li>
      <li><a href="mailto:hello@followthesnow.today">Contact</a></li>
    </ul>
  </nav>
  <main class="content">
    <%= content %>
  </main>
  <footer>
    Made with &#10084; in Colorado<br/>
    &copy; <%= Time.now.strftime("%Y") %> <a href="https://github.com/jtarchie/followthesnow">Follow the Snow</a>
  </footer>
</body>
</html>