<!--
---
title: About Us
description: Learn why we started Follow the Snow
---
-->

<h2 class="text-3xl font-bold mb-4">About</h2>

<p>Started on March 6th, 2022.</p>

<p>This website was born from a spontaneous adventure a friend and I embarked on during a snowy day. En route to Winter
  Park in Colorado, we checked the forecast and discovered an exceptional powder day unfolding at Steamboat Springs.
  Seizing the moment, we detoured for a three-hour drive, experienced one of our best ski days, and still managed to
  return in time for dinner.</p>

<p>This experience sparked a conversation about creating a website dedicated to guiding skiers to the best snow
  conditions each day. As we drove, the realization hit us: we were simply following the snow. And that became the essence
  of our website's name and purpose.</p>

<h2 class="text-3xl font-bold mb-4">License</h2>

<p>Map data is <a href="https://www.openstreetmap.org/copyright">© OpenStreetMap contributors</a>.</p>

<p>Use is subject to the Open Database license. You must attribute OpenSkiMap.org and OpenStreetMap appropriately.</p>

<h3 class="text-2xl font-bold mb-4">Technology</h3>

<ul>
  <li><a href="https://github.com/jtarchie/followthesnow">Follow the Snow</a> GitHub repository</li>
  <li>Static Website hosted on <a href="https://cloudflare.com">Cloudflare</a> for their terrific CDN.</li>
  <li><a href="https://www.ruby-lang.org/">Ruby</a> as programming language of choice.</li>
  <li><a href="https://open-meteo.com/">OpenMeteo</a> for weather API data</li>
  <li>Wikipedia for Ski resourt sources</li>
</ul>
