<!--
---
title: About Us
description: Learn why we started Follow the Snow
---
-->

<h2 class="text-3xl font-bold mb-4">About</h2>

<p>It started on March 6th, 2022.</p>

<p>This website sprang to life from an impromptu escapade a friend and I embarked on during a snowy day. En route to Winter Park in Colorado, we checked the forecast and stumbled upon an extraordinary powder day unfolding at Steamboat Springs. Embracing the unexpected, we rerouted for a thrilling three-hour drive, savored one of our most memorable ski days, and returned for dinner.</p>

<p>This experience sparked a conversation about creating a website that guides skiers daily to the best snow conditions. As we drove, we realized we were following the snow. And that became the essence of our website's name and purpose.</p>

<h2 class="text-3xl font-bold mb-4">License</h2>

<p>Map data is <a href="https://www.openstreetmap.org/copyright">© OpenStreetMap contributors</a>.</p>

<p>Use is subject to the Open Database license. You must attribute OpenSkiMap.org and OpenStreetMap appropriately.</p>

<h3 class="text-2xl font-bold mb-4">Technology</h3>

<ul>
  <li><a href="https://github.com/jtarchie/followthesnow">Follow the Snow</a> GitHub repository</li>
  <li>Static Website hosted on <a href="https://cloudflare.com">Cloudflare</a> for their terrific CDN.</li>
  <li><a href="https://www.ruby-lang.org/">Ruby</a> as programming language of choice.</li>
  <li><a href="https://open-meteo.com/">OpenMeteo</a> for weather API data</li>
  <li>Wikipedia and <a href="https://openskimap.org" target="_blank">OpenSkiMap</a> for Ski resort sources</li>
</ul>
