<!--
---
title: List by countries
description: List of countries that have ski resorts.
---
-->

<p>Please select a country to see the available regions in that area.</p>

<h2 class="text-3xl font-bold mb-4">Regions</h2>
  <ul class="list-disc pl-5 space-y-1">
  <% countries.each do |country| %>
    <li><a href="/countries/<%= country.parameterize %>">
        <%= h country %>
      </a></li>
  <% end %>
  </ul>